# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

vite.config.js
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn
.yarn/*

# ignore everything in build folders (including generated .d.ts)
dist/
build/

# ignore TS build info
*.tsbuildinfo

# optionally ignore any stray declaration files at project root
# but make sure NOT to ignore your src/ declarations!
*.d.ts

